<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tatiana Velasquez</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
        </ul>
        <span class="navbar-text">
            <a href="https://m.facebook.com/tatiana.velasquez.528?refid=7">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/tati_velasquez_/?mibextid=Zxz2cZ">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://twitter.com/TatianaVelasquz?mibextid=Zxz2cZ">
                <i class="bi bi-twitter"></i>
            </a>
        </span>
        <div>
        <button type="button" class="btn btn-success">Login</button>
        </div>
      </div>
    </div>
  </nav>  
